*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',
    sans-serif;
    text-decoration: none;
    list-style: none;
    padding: 0;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgbs(0,0,0,0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
}